body {
  display: grid;
  grid-column: auto;
  justify-content: space-evenly;
  background-color: black;
  gap: 0.5em;
}
#canvas {
  width: 90vw;
  height: 90vh;
  border: 0.2em inset gray;
}
#demo-state-buttons {
  display: grid;
  grid-column: auto;
  gap: 0.5em;
}
#output {
  resize: none;
  font-family: monospace;
  background: none;
  overflow: scroll;
  color: white;
  padding: 0.5em;
  border: 0.2em inset gray;
}
